<div class="mt-5 d-flex justify-content-center">
    <form action="/records/{{record._id}}/?_method=PUT" method="POST" class="new-record-wrapper">
        <div class="row mb-5">
            <label for="name" class="col-sm-2 col-form-label">*必填欄位:</label>
            <div class="col-sm-10">
                <h4 class="text-center">請修改你的支出</h4>
            </div>
        </div>
        <div class="row mb-5">
            <label for="name" class="col-sm-2 col-form-label">名稱*:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="{{record.name}}">
            </div>
        </div>
        <div class="row mb-5">
            <label for="date" class="col-sm-2 col-form-label">日期*:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="date" value="{{record.date}}">
            </div>
        </div>
        <div class="row mb-5">
            <label for="category" class="col-sm-2 col-form-label">類別*:</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Sort" name="category">
                    <option value="" disabled>請選擇類別</option>
                    <option value="家居物業" {{checkSelectValue record.categoryId.name "家居物業"}}>家居物業</option>
                    <option value="交通出行" {{checkSelectValue record.categoryId.name "交通出行"}}>交通出行</option>
                    <option value="休閒娛樂" {{checkSelectValue record.categoryId.name "休閒娛樂"}}>休閒娛樂</option>
                    <option value="餐飲食品" {{checkSelectValue record.categoryId.name "餐飲食品"}}>餐飲食品</option>
                    <option value="其他" {{checkSelectValue record.categoryId.name "其他"}}>其他</option>
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <label for="amount" class="col-sm-2 col-form-label">金額*:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="amount" value="{{record.amount}}">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-outline-dark" style="width: 300px;height: 50px">送出</button>
            </div>
        </div>
    </form>
</div>