<div class="mt-5 d-flex justify-content-center">
    <form action="/records/create" method="POST" class="new-record-wrapper">
        {{> message}}
        <div class="row mb-5">
            <label for="name" class="col-sm-2 col-form-label">*必填欄位:</label>
            <div class="col-sm-10">
                <h4 class="text-center">請輸入你的支出</h4>
            </div>
        </div>
        <div class="row mb-5">
            <label for="name" class="col-sm-2 col-form-label">名稱*:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="name" value="{{record.name}}" required>
            </div>
        </div>
        <div class="row mb-5">
            <label for="date" class="col-sm-2 col-form-label">日期*:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="date" value="{{record.date}}" required>
            </div>
        </div>
        <div class="row mb-5">
            <label for="category" class="col-sm-2 col-form-label">類別*:</label>
            <div class="col-sm-10">
                <select class="form-select" aria-label="Sort" name="category" required>
                    <option value="" disabled selected>請選擇類別</option>
                    {{#each categories}}
                    <option value="{{this.name_en}}" {{checkSelectValue ../category this.name_en }}>{{this.name}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="row mb-4">
            <label for="amount" class="col-sm-2 col-form-label">金額*:</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" name="amount" value="{{record.amount}}" required>
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10 text-center">
                <button type="submit" class="btn btn-outline-dark" style="width: 300px;height: 50px">新增支出</button>
            </div>
        </div>
    </form>
</div>